.village-map {
    margin-bottom: 40px;
    padding-top: 10px;
}

.village-map__wrapper {

}

.village-map__caption {
    margin-bottom: 35px;

    .neumann;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(116.71deg, #ECBB87 14.82%, #FFFFFF 54.14%, #FFCC9A 86.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0px 14px 46px rgba(241, 187, 135, 0.3);

    @media (max-width: @tablet-width) {
        padding: 0 15px;

        font-size: 34px;
        line-height: 48px;
    }
}

.village-map__desc {
    margin-bottom: 50px;

    .condensed;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;

    & > span {
        .neumann;
        color: #FFCC9A;
    }

    @media (max-width: @tablet-width) {
        font-size: 18px;
        line-height: 24px;

        &.container-small {
            padding: 0;
        }
    }
}

.village-map__img {
    width: 100%;
    height: auto;
}